/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

button {
  padding: 10px;
  background-color:  #7b7bb1;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

button:hover {
  background-color:#60608f;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-btn:hover {
  color: #78789e;
}

.header {
  display: flex;
  background-color: #f2f2f2;
  border-bottom: 2px solid #ccc;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  align-items: center;
  padding: 0 1rem;
}

.header__logo img {
  width: 100px;
  height: auto; 
}

.header h1 {
  padding: 1rem;
  color: #333;
  flex-grow: 1; 
}

.dashboard {
  margin-top: 100px; 
}

.dashboardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.dashboard h1 {
  padding: 10px;
  color: #333;
  margin: auto;
}

.post-btn{
  position: fixed;
  right: 15px;
}

.praises {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.praise {
  border: 1px solid #333;
  margin: 20px 50px;
  width: 90%;
  max-width: 600px; 
  border-radius: 10px;
  background-color: rgb(231, 231, 231); 
}

.praiseHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.praise h2, .date {
  color: #333;
}

.addMem, .postPraise {
  z-index: 2;
  background-color: rgb(170, 202, 221);
  width: 90%;
  max-width: 500px; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.praiseContent {
  padding: 10px;
}

.addMem h1, .postPraise h1 {
  padding: 10px;
  color: #333;
  text-align: center;
  margin: 0;
}

.addMem-form, .postPraise-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addMem-form__input, .postPraise-form__input {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 100%;
}

.addMem-form__input label, .postPraise-form__input label {
  padding-bottom: 5px;
  color: #333;
  font-weight: bold;
}

.addMem-form input, .postPraise-form select, .postPraise-form textarea {
  padding: 8px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
}

.addMem-form input:focus, .postPraise-form select:focus, .postPraise-form textarea:focus {
  outline: none;
  border: 2px solid #78789e;
}

.error {
  font-size: 12px;
  color: red;
  text-align: center;
  margin-top: 0;
  animation: horizontal-shaking 1s ease-in-out;
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  10% , 30% , 50%, 70%, 90%{
    transform: translateX(5px);
  }
  20%, 40% ,60%, 80% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
